table, td {
    border: 1px solid black;
}
table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
td {
    width: 3.5em;
    height: 3.5em;
}
p {
    margin-bottom: 4em;
}
.text-center {
    text-align: center;
}
#wrapper-submit-btn {
    margin-top: 1.5em;
}